div(id='22').price-range-slider
    .price-range-slider__div-between
        .price-range-slider__range-button.price-range-slider__range-button--left
        .price-range-slider__range-button.price-range-slider__range-button--right
        .price-range-slider__output-block
            input(
                type="number"
                min="20" max="1000"
                placeholder="0"
                class="price-range-slider__output-number"
            )
            input(
                type="number"
                min="20" max="1000"
                placeholder="5000"
                class="price-range-slider__output-number"
            )

